
/* For mobile first */
/* want to keep this simple as the information is very important and should be accessible to all */
header {
    text-align: center;
    margin: 2rem;
}

h2 {
    text-align: center;
    margin: auto;
}

table{
    text-align: center;
    margin:auto;
}
tr {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid tan;
    max-width: 300px;
    /* text-align: center; */
    margin: auto;
    margin-bottom: 3px; 
}
 